main{padding:30px 0;}
section{width:960px; margin: 0 auto;}
h2{margin-bottom:30px;}
article{border-top:0.5px solid #999; border-bottom:0.5px solid #999; padding:20px;}

h3{margin-bottom:8px;font-size:1.5em;}
.counts{display:flex; justify-content: space-between;font-size:1.2em;}
.likes{}
.heart{color:red;}
.viewCount img{width:25px;vertical-align: bottom; margin-left:5px; margin-right:3px;}