*{margin:0;padding:0;list-style: none; text-decoration: none;}
body{width:100vw; height:100vh;}
.wrap{width:100%;height:100%;}
a{display: block;}


/*임시*/
header,footer{height:100px;background:lightsteelblue;}
