.banner {height:500px;padding:0;overflow: hidden;}
.banner ul{display: flex; align-items: center;}
.banner ul li{width:100%;}
.banner ul li a{position: relative;}
.banner img{width:100%;position: absolute;left:0;top:-90px;}

section .title{display: flex; align-items: center; justify-content: space-between; }

.theme{border-bottom:1px solid #e3effd;}
.theme article{width:980px;margin:0 auto;}
.theme .lists ul{display: flex;align-items: center;flex-wrap:wrap;gap:2vw; padding:2.5vw 5vw;}
.theme .lists li a{padding:10px 18px; border-radius: 20px;border:1px solid gray; color:gray;}
.theme .lists li a:hover{border:1px solid black; font-weight: 600; color:black;}
.recommend{background-color: #e3effd;}
