body {
    margin: 0px;
}
.wrap {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: auto ;
    grid-template-areas:
                "aside1 main aside2"
;
}

main {
    grid-area: main;
    background-color: rgb(231, 231, 231);
    padding-top: 30px;
}


.aside1 {
    grid-area: aside1;
    background-color: rgb(231, 231, 231);
}

.aside2 {
    grid-area: aside2;
    background-color: rgb(231, 231, 231);
}

.checkAll , .checkCompulsory1,.checkCompulsory2 , .checkOption1,.checkOption2{
    display: none;
}

.label1 , .label2 , .label3 , .label4 , .label5 {
    padding-left: 30px;
    background-repeat: no-repeat;
    background: #f5f6f7 url(https://static.nid.naver.com/images/ui/myinfo/pc_check_off_24.png) no-repeat 0 0;
    background-size: 16px 16px;
    background-color: rgb(231, 231, 231);
    cursor: pointer;


}
.checkAll:checked+ .label1 {
    background: #f5f6f7 url(https://static.nid.naver.com/images/ui/myinfo/pc_check_on_l_24.png) no-repeat 0 0;
    background-color: rgb(231, 231, 231);
    background-size: 16px 16px;
}

.checkCompulsory1:checked+ .label2 {
    background: #f5f6f7 url(https://static.nid.naver.com/images/ui/myinfo/pc_check_on_l_24.png) no-repeat 0 0;
    background-color: rgb(231, 231, 231);
    background-size: 16px 16px;
}
.checkCompulsory2:checked+ .label3 {
    background: #f5f6f7 url(https://static.nid.naver.com/images/ui/myinfo/pc_check_on_l_24.png) no-repeat 0 0;
    background-color: rgb(231, 231, 231);
    background-size: 16px 16px;
}
.checkOption1:checked+ .label4 {
    background: #f5f6f7 url(https://static.nid.naver.com/images/ui/myinfo/pc_check_on_l_24.png) no-repeat 0 0;
    background-color: rgb(231, 231, 231);
    background-size: 16px 16px;
}
.checkOption2:checked+ .label5 {
    background: #f5f6f7 url(https://static.nid.naver.com/images/ui/myinfo/pc_check_on_l_24.png) no-repeat 0 0;
    background-color: rgb(231, 231, 231);
    background-size: 16px 16px;
}

.check_all_text {
    font-size: 15px;
    font-weight: 900;
    text-decoration: underline;
}

.check_text {
    font-size: 14px;
    font-weight: 700;
}
#compulsory {
    font-size: 13px;
    font-weight: 300;
    color: rgb(53, 175, 106);
}
#option {
    font-size: 13px;
    font-weight: 300;
    color: rgb(128, 128, 128);

}

.div_checkAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.div_check1 , .div_check2 , .div_check3 , .div_check4{
    height: 30px;
    margin-bottom: 10px;
}
.div_box1 , .div_box2 , .div_box3{
    overflow: auto;
    height: 80px;
    background-color: white;
    border: solid 1px;
    border-color: rgb(150, 150, 150);
    margin-bottom: 25px;
}
.error {
    display : none;
    font-size: 11px;
    color: red;
    padding-bottom: 30px;
}
a{
    color: yellowgreen;
}
h3 {
    padding: 0 12px 0 12px;
    font-size: 13px;
    color: rgb(61, 61, 61);
}
p {
    padding: 12px 12px 12px 12px;
    font-size: 12px;
}