main{display:flex;width:960px;margin:0 auto;}

.results{width:70%;position: relative;}
.results > a:last-child article{margin-bottom:80px;border-bottom:1px solid #999;}
.results article{display: flex; width: 90%; padding: 20px;border-top:1px solid #999; position:relative;}
/*.results article:hover:after{content:"찜하기";font-size:2em;color:white;font-weight:500;position:absolute;left:calc(50% - 70px);top:calc(50% - 26px);}*/
/*.results article:hover:before{ content:""; width:100%;height:100%; position:absolute;left:0;top:0;*/
/*    background: rgb(0,0,0);*/
/*    background: radial-gradient(circle, rgba(0,0,0,0.6) 18%, rgba(0,0,0,0.4) 100%, rgba(0,0,0,0) 100%, rgba(0,0,0,0.3) 100%);}*/
.results article.hide{display: none;}
.results article .img{max-width: 155px; min-width: 155px; max-height:107px; margin-right:20px; background:rgba(240,240,240,0.2); overflow: hidden; }
.results article .img img{height:100%;display: block;margin:0 auto;}
.results h2{padding: 30px 0; word-break: keep-all;}
.results .addr,.results .tel, .results .keywords{color:#666;font-size:0.9em;}
.results .tel{margin-bottom:5px;}
.results h3{display: flex;justify-content: space-between;}
.results .myPick{color:gray;}

.category{width:30%; background-color: #f7f7f7;}
.category article{margin:0 30px; padding:30px 0;}
.category .local {border-bottom:1px solid #999;}
.category .local form{display:flex; flex-wrap:wrap;}
.category .keywords{display: flex; flex-wrap:wrap; gap:5px 3px;}
.category .input{border-top:1px solid #999;}
.category .input input{width: calc(100% - 20px);padding: 10px;border: 1px solid #ddd;}
.category label{padding:5px 15px; display: inline-block; color:#666; border-radius: 20px;}
.category input[type=radio], .category input[type=checkbox]{display: none;}
input[type=radio]:checked + label, input[type=checkbox]:checked ~ label{color:white; background:#57667e;}

.results article.none{display:none;}

button{display: block;margin:0 auto 30px;}

div.init{position: absolute;left:calc(50% - 100px);top:50%;color:dimgray;font-size:0.9em;}

/*festival*/
.festival .local{border:none;}
.festival .results .contents{padding-top:20px;width:100%;}

/*festival view*/
.festival.view h2{padding:40px 20px 0;}
.festival.view .detailTable{margin:20px 0 40px; border:none;}
.festival.view .detailTable td{padding:10px 20px;}
.festival.view .detailTable td.img1{padding:0;}
.festival.view .detailTable td:first-child{width:15%;}